/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #232830;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
  padding: 50px 75px 75px;
}

header a,
header p {
  color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
  font-size: 30px;
}

.navbar ul {
  display: flex;
  gap: 24px;
  font-size: 24px;
}

.navbar a:hover {
  color: #4d4d4d;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 30px;
}

.hero img {
  width: 195px;
  height: 205px;
}

.hero p:nth-of-type(1) {
  color: #ff7575;
  font-family: "Recursive", Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-style: italic;
}

/* Main */
.navbar2 {
  color: #909090;
  font-family: "Recursive", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 27px;
  border-top: 1px solid #4d4d4d;
  padding: 25px;
}

.navbar2 > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar2 img {
  width: 24px;
  height: 24px;
}

.card-container {
  max-width: 1200px;
  margin: 75px auto 50px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: calc((100% - 48px) / 3);
  height: 440px;
  border: 1px solid #252930;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  margin-top: 24px;
}

.card img {
  width: 337px;
  height: 160px;
}

.card-body {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-body p:nth-child(1) {
  font-weight: 600;
  font-size: 19px;
}

.card-footer {
  display: flex;
  align-self: flex-start;
  gap: 16px;
  margin-top: auto;
  padding: 0 24px 24px;
}

.card-footer p:nth-of-type(2) {
  font-weight: bold;
}

.pagination {
  font-family: "Recursive", Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-style: italic;
  color: #909090;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 100px 0 150px;
  padding: 24px;
}

.pagination a:hover,
.pagination a:active {
  color: #ff7575;
  border-top: 2px solid #ff7575;
  font-weight: 600;
}

/* Footer */
footer {
  border-top: 1px solid #4d4d4d;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 75px;
}

.footer div:nth-of-type(1) {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer div:nth-of-type(1) p:nth-of-type(1) {
  font-weight: 600;
  font-size: 30px;
}

.footer div:nth-of-type(1) p:nth-of-type(2) {
  font-weight: 600;
  font-size: 19px;
  background-color: #4699e0;
  padding: 8px;
  border-radius: 8px;
}

.footer div:nth-of-type(2) {
  background-color: #4699e0;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer div:nth-of-type(2) img {
  width: 20px;
  height: 16px;
}
