*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: "Poppins", system-ui, sans-serif;
  background-color: #232830;
  max-width: 1600px;
}

.navbar {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 130px;
}

.navbar .logo {
  font-size: 30px;
}

.logo a{
  text-decoration: none;
  color: white;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  gap: 36px;
  list-style-type: none;
}

.navbar ul a {
  text-decoration: none;
  color: white;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 75px;
  border-bottom: 3px solid #4d4d4d;
}

.hero h1 {
  font-size: 71px;
  font-style: italic;
  color: #ff7575;
  margin: 25px;
  font-weight: 400;
  font-family: "Recursive";
}

.hero p {
  font-size: 29px;
  color: white;
  margin-top: 0;
  margin-bottom: 75px;
}

.navbar2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: -60px;
  margin-bottom: 100px;
  max-width: 1200px;
}

.navbar2 div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar2 a {
  color: #909090;
  text-decoration: none;
  font-family: "Recursive";
  font-style: italic;
  font-size: 27px;
}

.container {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.box {
  background-color: white;
  width: 390px;
  height: 439px;
  border: 1px solid #252930;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.box img {
  width: 337px;
  height: 160px;
}

.box div {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-start;
  align-items: flex-start;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  align-items: center;
  width: 478px;
  margin: auto;
}

.pagination a {
  font-family: "Recursive";
  font-size: 25px;
  font-style: italic;
  text-decoration: none;
  color: #909090;
  margin-bottom: 150px;
}

.pagination a:focus {
  color: #ff7575;
  border-top: 3px solid #ff7575;
}

.pagination div {
  display: flex;
  gap: 55px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
  color: white;
  border-top: 3px solid #4d4d4d;
}

.footer div {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer .div1 p:first-child {
  font-size: 30px;
  font-weight: 600;
}

.footer .div1 p:nth-child(2) {
  font-size: 19px;
  font-weight: 600;
  background-color: #4699E0;
  border-radius: 5px;
  padding: 9px;
  line-height: 1;
}

.footer .div2 {
  font-size: 19px;
  font-weight: 600;
  background-color: #4699E0;
  border-radius: 5px;
  padding: 0 6px 0 6px; 
  line-height: 0.3;
}