/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #232830;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
header {
  margin: 50px 125px 75px;
}

header a,
header p {
  color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
  font-size: 30px;
}

.navbar ul {
  display: flex;
  gap: 16px;
  font-size: 24px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 30px;
}

.hero img {
  width: 195px;
  height: 205px;
}

.hero p:nth-of-type(1) {
  color: #ff7575;
  font-family: "Recursive", Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-style: italic;
}

/* Main */
.navbar2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #909090;
  font-family: "Recursive", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 27px;
  border-top: 1px solid #4d4d4d;
  padding: 25px;
}

.navbar2 img {
  width: 24px;
  height: 24px;
}
